table {
    width: 400px;
   /* border-spacing: 40px;*/
}
th {
    text-align: left;
}

caption {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: #ddd;
}